/* styles.css */

/* general */


/* slider */
.slideshow-container {
    position: absolute;
    max-width: 1340px;
    /* Adjust as needed */
    margin: auto;
}

.slide {
    display: none;
}

img {
    width: 1340px;
    height: 700px;
    margin: auto;
    object-fit: cover;

}

/* general */
.rano {

    width: 1340px;
    height: 3400px;
    margin: auto;
    background-color: white;
}

.rano1 {
    width: 1280px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #FFCB05;
    border-radius: 10px;
    position: fixed;
    top: 0; /* Fix it to the top of the viewport */
    z-index: 1000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none; 
    padding: 0;
    margin-left: 250px;
    margin-top: 30px;
    display: flex;
}
nav li {
    margin-right: 5%; 
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Text color for links */
}
nav a:hover {
    text-decoration: underline;
}


.rano2 {
    width: 100%;
    height: 700px;
    margin-top: 30px;
    background-color: white;
}

.rano3 {
    width: 1340px;
    height: 340px;
    margin-top: 20px;
    background-color: white;
}

.rano31 {
    width: 240px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    float: left;

}

.rano32 {
    width: 240px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    float: left;

}

.rano33 {
    width: 240px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    float: left;

}

.rano34 {
    width: 240px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    float: left;

}

.rano4 {
    width: 1340px;
    height: 100px;
    margin-top: 20px;
    background-color: white;

}

.rano5 {
    width: 1340px;
    height: 580px;
    margin-top: 20px;
    background-color: white;

}

.rano50 {
    width: 550px;
    height: 520px;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-left: 90px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.rano51 {
    width: 550px;
    height: 250px;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.rano52 {
    width: 550px;
    height: 250px;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.rano6 {
    width: 1340px;
    height: 560px;
    margin-top: 20px;
    background-color: white;

}

.rano60 {
    width: 550px;
    height: 510px;
    float: left;
    background-color: blueviolet;
    margin-top: 20px;
    margin-left: 90px;
   
}

.rano61 {
    width: 550px;
    height: 510px;
    float: left;
    background-color: #FFCB05;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.rano7 {
    width: 1340px;
    height: 540px;
    margin-top: 20px;
    background-color: white;
}

.rano70 {
    width: 1150px;
    height: 480px;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-left: 90px; 
    background-image: url("https://www.mtn.co.ug/wp-content/uploads/sites/7/2023/01/Bitmap.png") ;
    background-repeat: no-repeat; 
    background-size:cover;
    border-radius: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);


    
    
}

.rano700 {
    width: 1150px;
    height: 80px;
    float: left;
    margin-top: 60px;
    margin-bottom: -150px;
}

.rano701 {
    width: 300px;
    height: 240px;
    float: left;
    background-color: #ffffff10;
    margin-top: 180px;
    margin-left: 80px;
    backdrop-filter: blur(30px);
    border-radius: 10%;
    border-color: #ffffff10;
    border-style: groove;
}

.rano702 {
    width: 300px;
    height: 240px;
    float: left;
    background-color: #ffffff10;
    margin-top: 180px;
    margin-left: 40px;
    backdrop-filter: blur(30px);
    border-radius: 10%;
    border-color: #ffffff10;
    border-style: groove;
}

.rano703 {
    width: 300px;
    height: 240px;
    float: left;
    background-color: #ffffff10;
    margin-top: 180px;
    margin-left: 40px;
    backdrop-filter: blur(30px);
    border-radius: 10%;
    text-align: center;
    border-color: #ffffff10;
    border-style: groove;

}

.image-services-box {
    width: 240px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    float: left;

}

.inner-image-services-box {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    
    margin-top: 40px;
    background-color: white;
}

.try2 {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 40px;
    background-color: white;
}

.try3 {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 40px;
    background-color: white;
}

.try4 {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 40px;
    background-color: white;
}

.try5 {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-top: 40px;
    background-color: white;
}

.try11 {
    width: 180px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
}

.try22 {
    width: 180px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
}

.try33 {
    width: 180px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
}

.try44 {
    width: 180px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
}

.try55 {
    width: 180px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
}



.footer {
    width: 1340px;
    height: 400px;
    margin-top: 20px;
    background-color: black;
}